DB_ROOT_PASSWORD=your-root-password
DB_USERNAME=moyeorock
DB_PASSWORD=your-password

# openssl rand -base64 64 로 생성
JWT_SECRET_KEY=your-jwt-secret-key
JWT_ISSUER=moyeorock
JWT_ACCESS_TOKEN_EXPIRY=1209600000